.works {
    display: flex;
    height: 90vh;
    margin-top: 4rem;
}

.w-right {
    margin-left: -35px;
    position: relative;
}

.w-mainCircle {
    margin-top: 90px;
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;
}

.w-mainCircle>* {
    position: absolute;
}

.w-mainCircle>:nth-child(1) {
    top: -3rem;
    left: 6rem;
}

.w-mainCircle>:nth-child(2) {
    top: 5rem;
    left: -3rem;
}

.w-mainCircle>:nth-child(3) {
    top: 14rem;
    left: 6rem;
}

.w-mainCircle>:nth-child(4) {
    top: 5rem;
    left: 13rem;
}

.w-secondaryCircle {
    width: 7rem;
    height: 7rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: var(--smboxShadow);
}

.w-backCircle {
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}

.blueCircle {
    background: darkblue;
    left: 17rem;
    top: 5rem;
}

.yellowCircle {
    background: var(--orange);
    left: 18rem;
    top: 12rem;
}

@media screen and (max-width :480px) {
    .works {
        margin-left: 20px;
        flex-direction: column;
        height: 35rem;
        padding: 0;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .w-right {
        margin-top: 0px;
        display: flex;
        align-items: flex-start;
        justify-content: start;
        transform: scale(0.7);
    }

    .w-mainCircle {
        position: static;
    }

    .w-backCircle {
        left: 8rem !important;
    }
}