/* About me section */
.para-section {
    width: 90%;
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 30px;
}

.para-section h1 {
    color: #11a372;
    font-weight: bold;
    width: 90%;
}

.para-section p {
    margin-left: 30px;
    margin-right: 80px;
    text-align: justify;
    border: 2px solid transparent;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
}

.para-section p:hover{
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}



/* education and experience section */
.container {
    width: 100%;
    padding: 5px 2%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: calc(10% - 30px);
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--orange);
    padding: 0px 0px 20px 30px;
}

.contents {
    padding: 0px 30px;
    border-left: 2px solid darkblue;
}

.box {
    position: relative;
    padding: 0px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}

.box:hover {
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}

.box::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #11a372;
    border: 2px solid white;
}

.box h4 {
    margin-left: 20px;
    position: relative;
    color: #11a372;
}

.box h3 {
    margin-left: 20px;
    font-weight: bold;
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
}

.box p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    line-height: 1.2;
    color: #666;
    font-size: 17px;
}

@media (max-width: 768px) {
    .row {
        grid-template-columns: 1fr;
    }

    .col:nth-child(2) {
        margin-top: 30px;
    }
    .container{
        margin-bottom: 30px;
    }
}