.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem  -3.5rem;
    position: relative;
    margin-top: -13rem;
}

.f-content{
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    width: 100%;
    margin-top: 12rem;
    gap: 4rem;
    color:black;
}

.contact-form {
    padding: 0 3rem 0 3rem;
    display: flex;
    margin-top: 4rem;
    padding-top: 3rem;
    margin-bottom: 15rem; /* ADD THIS */
}

.f-icons{
    display: flex;
    gap: 2rem;
}
.f-content a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 480px){
    .f-content{
        margin-top: 3rem;
        gap: 2.5rem;
      transform: scale(.5);
    }
  }